<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-notes-medical"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Student</div>
    </a>

    <!--&lt;!&ndash; Nav Item - Pages Collapse Menu &ndash;&gt;-->
    <!--<li class="nav-item">-->
        <!--<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"-->
           <!--aria-expanded="true" aria-controls="collapsePages">-->
            <!--<i class="fas fa-fw fa-folder"></i>-->
            <!--<span>Student</span>-->
        <!--</a>-->
        <!--<div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">-->
            <!--<div class="bg-white py-2 collapse-inner rounded">-->
                <!--<a class="collapse-item" href="login.html">Add Student</a>-->
                <!--<a class="collapse-item" href="register.html">Edit Student</a>-->
                <!--<a class="collapse-item" href="forgot-password.html">Manage Student</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</li>-->

    <div class="sidebar-heading">
        Manage
    </div>
    <li class="nav-item active">
        <a class="nav-link" href="/manageUsers">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Manage Users</span></a>
    </li>

</ul>