<!DOCTYPE html>
<html lang="en">

<head>
    <title>Manage Users</title>
    <% include ../Partials/head.ejs %>
</head>

<body id="page-top" ng-app="manageUsersApp" ng-controller="manageUsersAppCtrlr" ng-init="initController()" ng-cloak>

<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <% include ../Partials/sidebar.ejs %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <% include ../Partials/topbar.ejs %>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col text-right">
                        <button type="button" class="btn btn-primary" ng-click="openModal('add')">
                            <i class="fa fa-plus"></i> Add User
                        </button>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="table-responsive">
                        <table st-table="displayedCollection" st-safe-src="usersList" id="smart-table"
                               class="table table-hover table-center table-sm table-bordered table-striped text-center text-nowrap">
                            <thead>
                            <tr>
                                <th st-sort="FirstName" class="sortable asc">First Name</th>
                                <th st-sort="LastName" class="sortable asc">Last Name</th>

                                <th st-sort="EmailID" class="sortable asc">Email ID</th>
                                <th st-sort="ContactNumber" class="sortable asc">Contact Number</th>
                                <th st-sort="Address" class="sortable asc">Address</th>
                                <th st-sort="UserTypeID" class="sortable asc">UserTpyeID</th>

                                <th>Settings</th>
                            </tr>
                            <tr class="bg-light">
                                <td>
                                    <input type="text" st-search=FirstName"
                                           placeholder="Search"
                                           class="input-sm form-control">
                                </td>
                                <td>
                                    <input type="text" st-search="LastName"
                                           placeholder="Search"
                                           class="input-sm form-control">
                                </td>
                                <td>
                                    <input type="text" st-search="EmailID"
                                           placeholder="Search EmailID"
                                           class="input-sm form-control">
                                </td>
                                <td>
                                    <input type="text" st-search="ContactNumber"
                                           placeholder="Search"
                                           class="input-sm form-control">
                                </td>
                                <td>
                                    <input type="text" st-search="Address"
                                           placeholder="Search"
                                           class="input-sm form-control">
                                </td>
                                <td>
                                    <input type="text" st-search="UserTypeID"
                                           placeholder="Search"
                                           class="input-sm form-control">
                                </td>
                                <td></td>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center" colspan="13" ng-if="loading">
                                    <div class="loader">Loading...</div>
                                    <h6>Loading...</h6>
                                </td>
                            </tr>
                            <tr class="no-records-found" ng-if="usersList.length == 0">
                                <td colspan="13">No matching records found</td>
                            </tr>
                            <tr st-select-row="row" st-select-mode="multiple"
                                ng-repeat="user in displayedCollection |filter: searchData" ng-cloak>
                                <td>{{user.FirstName}}</td>
                                <td>{{user.LastName}}</td>

                                <td>{{user.EmailID}}</td>
                                <td>{{user.ContactNumber}}</td>
                                <td>{{user.Address}}</td>
                                <td>{{user.UserTypeID}}</td>

                                <td>
                                    <button class="btn btn-xl" ng-click="openModal('edit', user, $index)"
                                            style="border: 0.5px solid;border-radius: 30px;"><i
                                                class="fa fa-edit text-success" aria-hidden="true"></i></button>
                                    <button class="btn btn-xl" ng-click="deleteUser(user.UserID, user.FirstName, $index)"
                                            style="border: 0.5px solid;border-radius: 30px"><i
                                                class="fa fa-trash text-danger" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <% include ../Partials/footer.ejs %>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- Logout Modal-->
<% include ../Partials/logout.ejs %>
<!-- Bootstrap core JavaScript-->
<% include ../Partials/bodyScriptLoader.ejs %>
<script>
    <% include ng-app.js %>
</script>
<% include modal.ejs %>

</body>

</html>
